* {
	margin: 0;
	padding: 0;
	outline: none;
	font-family: FT sans, serif;
}

html { 
    height:100%;
}


header {
	width: 100%;
	height: 800px;
	background: url(../img/melisa.jpg);
}

.displayed {
	padding-top: 50px;
	padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

a {
	text-decoration: none;
}

 a {
	color: #fafafa;
	margin: 0 20px 0 0;
	font-size: 1em;
}

header p{
	position: relative;
	top: 40%;
	color:#dfdfe0;
	font-size: 3.7em;
	padding-left: 100px;
	line-height: 60px;
	letter-spacing: 2px;
	font-family:serif;
}

 a:hover {
	color: #a3a3a3;
}

.about_studio {
	width: 100%;
	height: 550px;
	background: rgb(47,48,52);
}

.about_studio_in{
	width: 50%;
	float: right;
	height: 600px;
	color:white;
	margin-top: 7%;
}

.about_studio_in p {
	margin-left: 33%;
	line-height: 35px;
	font-size: 1.2em;
	margin-right: 40px;
	
}

#about_studio_p {
	color: #a3a3a3;
}

#melisa {
	font-size: 2.6em;
}

.about_studio img {
	width: 50%;
	height: 550px; 
	float: right;
}

.prize {
	width: 90%;
	height: 300px;
	margin-left: 5%;
	margin-right: 5%;
	
  display: flex;
  align-items: center;
  justify-content: center;
}

.prize div {
	display: inline-block;
	float: left;
	width: 25%;
	height: auto;
	text-align: center;
	margin: 0;
    
}

.prize p {
	margin-top: 10px;
	font-size: 1.2em;
	
	
}

#prize_1, #prize_2 {
	color: #a3a3a3;
	font-size: 0.8em;
}

#prize_1 {
	font-style: italic;
}

.portfolio {
	width: 100%;
	height: 1500px;
	background: rgb(47,48,52);
	text-align: center;
}

.portfolio h1 {
	padding-top: 10px;
	font-size: 2.5em;
	padding-bottom: 10px;
	color: white;
	font-weight: 400;
}

.portfolio p {
	color: #a3a3a3;
	font-size: 1.5em;
	padding-bottom: 10px;
}

.portfolio img {
	margin-right: 25px;
	margin-top: 25px;
}

#img_port{
	padding-top: 100px;
	margin:0;
	float:left;
	width: 20%;
	height: 330px;
}

#port {
	display: inline-block;
	float: left;
	width: 20%;
	font-size: 0.8em;
}

#port p {
	color: white;
	padding-top: 50px;
	margin: 0 40px 0 40px;
	line-height: 30px;
}

#port p:hover {
	color: #a3a3a3;
}

.message {
	background: url(../img/message.jpg) no-repeat;
	width: 100%;
	height: 530px;
	
}

.message h1 {
	font-weight: 400;
	padding: 50px 0 20px 90px;
}

.message p {
	font-size: 1.2em;
	padding-left: 90px;
}

 input, textarea{
	height: 40px;
	border-radius: 5px;
	padding-left: 10px;
	background: #ebe9ea;
	width: 30%;
	margin-left: 80px;
	margin-top: 20px;
	border: 1px solid black;
}

textarea {
	height: 40px;
	padding-top: 20px;
	margin-left: 80px;
	background: #ebe9ea;
}

#submit {
	width: 10%;
	padding-left: 0px;
	border: 2px solid black;
	font-size: 1em;
}

#submit:hover {
	background-color: black;
	color: white;
}

footer {
	width: 100%;
	height: 140px;
	background: rgb(47,48,52);
}



footer p {
	color:  #a3a3a3;
	text-align: center;
	padding-top: 30px;
	font-size: 1.2em;
}




/*Сторінка about*/





.header_1 {
	width: 100%;
	height: 300px;
	background: rgb(47,48,52);
}

html {
	position:relative; 
    min-height:100%;
}


hr {
	background: white;
}

.about_us {
	width: 100%;
	height: 900px;
	background: rgb(47,48,52);
}

.about_us h1{
	color: white;
	text-align: center;
	padding-top: 40px;
	font-size: 3em;
	font-weight: 400;
	padding-bottom: 40px;
}

.about_us img {
	padding-left: 100px;
	padding-right: 100px;
	float: left;
}

.about_us span {
	display: block;
	float: left;
	width: 50%;
	color: white;
}

.about_us span h2 {
	padding-bottom: 30px;
	font-size: 2.3em;
	font-weight: 400;
}

.about_us span p {
	padding-right: 70px;
	line-height: 30px;
	font-size: 1.2em;
	color:  #d6d6d6;
}

.submit {
	height: 60px;
	width: 240px;
	border: 2px solid white;
	background: rgb(47,48,52);
	margin-top: 50px;
	color: white;
	font-size: 1.2em;
	font-style: italic;
}

.submit:hover {
	background: white;
	color: black;
}

.prize_1 img {
	margin-top: 100px;
}

.comment {
	width: 84%;
	height: 1500px;
	background: rgb(47,48,52);
	padding-left: 8%;
	padding-right: 8%;
}

.comment div {
	width: 30.333%;
	height: 370px;
	display: inline-block;
	float: left;
	text-align: center;
	margin-right: 30px;
	margin-top: 100px;
}

#comm {
	display: block;
	color: #d6d6d6;
	margin-top: 40px;
	font-style: italic;
	font-size: 1.2em;
	line-height: 25px;
	margin-bottom: 30px;
}

#comm1 {
	color: white;
	font-size: 1.5em;
}

.comment h1{
	color: white;
	text-align: center;
	font-size: 2.5em;
	font-weight: 400;
}

.comm2 {
	width: 100%;
	margin-top: 40px;
}

.questions{
	width: 100%;
	height: 440px;
}

.questions h1 {
	text-align: center;
	font-size: 2.5em;
	margin-top: 50px;
	font-weight: 400;
	margin-bottom: 30px;
}

#form input, #form textarea {
	margin-left: -0px;
	background: white;
}






/*Стилі для сторінки portfolio*/






.portfolio {
	width: 100%;
	height: 1550px;
	background: rgb(47,48,52);
	padding-top: 30px;	
}

.portfolio p {
	margin: 50px 80px 50px 80px;
	font-size: 1.3em;
	line-height: 30px;
	color: #d6d6d6;
}

.foto_portf {
	width: 20%;
	height: auto;
}

/*Стилі для сторінки Press*/

.magazine {
	padding: 90px 5% 50px 5%;
	width: 90%;
	height: 150px;
	
	display: flex;
    align-items: center;
    justify-content: center;
}

.magazine div {
	display: inline-block;
	width: 25%;
	height: 300px;
	float: left;
	
	text-align: center;
	margin: 0;
}

.magazine h1 {
	color: #a3a3a3;
	font-style: italic;
	font-size: 1em;
	margin-top: 20px;
	font-weight: 400;
}

.magazine p {
	
	font-size: 1.2em;
	margin-top: 20px;
}

.magazine img {
	width: 35%;
	height: auto;
}





/*Стилі для сторінки contact_us*/





.contact_us {
	width: 90%;
	height: 800px;
	background: rgb(47,48,52);
	padding: 60px 10% 60px 0;
	
}

.contact_us_in {
	width: 60%;
	height: 800px;
	float: left;
}

.contact_us_in h1 {
	color: white;
	font-size: 3em;
	margin-bottom: 30px;
	font-weight: 400;
}

.contact_us_in p {
	color: #d6d6d6;
	font-size: 1.5em;
	line-height: 30px;
}

.contact_us_img {
	width: 40%;
	float: left;
	height: 770px;
}

.contact_us_form input, .contact_us_form textarea{
	height: 50px;
	border-radius: 5px;
	padding-left: 10px;
	background: rgb(47,48,52);
	color: white;
	width: 50%;
	margin-top: 10px;
	border: 1px solid white;
	font-style: italic;
	font-size: 1em;
	font-weight: 600;
	margin-left: auto;
    margin-right: auto;
}

#submit_contact {
	width: 20%;
}

#submit_contact:hover {
	background-color: white;
	color: black;}





/*Стилі для сторінки services*/





.occasion, .services {
	width: 93%;
	height: 600px;
	background: rgb(47,48,52);
	padding-left: 7%;
	padding-top: 70px;
	color: white;
	line-height: 30px;
	
}

.occasion .occasion_in {
	width: 44%;
	height: 600px;
	float: left;
	padding-right: 80px;
}

.occasion img {
	float: left;
	height: 550px;
}

.occasion .occasion_in h1 {
	font-weight: 400;
	font-size: 2.7em;
}

.occasion .occasion_in p {
	font-size: 1.2em;
}

.occasion .occasion_in ul {
	font-size: 1.2em;
	list-style-position: inside;
}

.occasion .occasion_in h2{
	font-weight: 500;
}

.services{
	height: 900px;
}

.services p {
	color: #d6d6d6;
}

.services div {
	display: inline-block;
	width: 28%;
	height: 450px;
	margin-right: 50px;
}

.services img {
	width: 100%;
}




/*Стилі для сторінки                        TEAM*/




.our_team {
	width: 93%;
	height: 600px;
	background: rgb(47,48,52);
	padding-left: 7%;
	padding-top: 70px;
	color: white;
	line-height: 30px;
	
}

.our_team_in {
	width: 44%;
	height: 600px;
	float: left;
	padding-right: 80px;
}

.our_team img {
	float: left;
	height: 550px;
}

.our_team h1 {
	font-weight: 400;
	font-size: 2.9em;
}

.our_team p {
	font-size: 1.2em;
}

.team {
	background: rgb(47,48,52);
	padding-left: 7%;
	width: 93%;
	height: 870px;
	
}

.team p {
	color: #d6d6d6;
}

.team div {
	display: inline-block;
	float: left;
	width: 20%;
	margin-right: 51px;
	
}

.team img {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.team h1 {
	color: white;
	font-weight: 400;
}

.team h4 {
	color: #d6d6d6;
	font-style: italic;
	font-weight: 400;
}

.team p {
	font-size: 1.2em;
	line-height: 25px;
}